#main{:class=>"span-18 colborder"}
  %h2{:class=>"secheader"}= "how to contribute"
  %h4= "Getting the source code"
  %p= "Look at Zookeeper and HBase"
  %h4= "Making changes"
  %h4= "Contributing your work"
