#maintainers
  %h2{:class=>"secheader"}= "maintainers"
  %p= "S4 is maintained by the following volunteers:"
  %ul{:class=>"greybar"}
    %li= email("ak", "s4.io", "Anand Kesari")
    %li= email("an", "s4.io", "Anish Nair")
    %li= email("leo", "s4.io", "Leo Neumeyer")
    %li= email("br", "s4.io", "Bruce Robbins")
