---
title: Team
---
#maintainers
  %h2{:class=>"secheader"}= "maintainers"
  %p= "S4 is maintained by the following volunteers."
  .tabular
    %table
      %tr
        %th= "name"
        %th= "github id"
        %th= "affiliation"
        %th= "timezone"
      %tr
        %td= email("ak", "s4.io", "Anand Kesari")
        %td= "<a href='http://github.com/anandkesari'>anandkesari</a>"
        %td= "Yahoo!"
        %td= "-8"
      %tr
        %td= email("an", "s4.io", "Anish Nair")
        %td= "<a href='http://github.com/anishnair'>anishnair</a>"
        %td= "Yahoo!"
        %td= "-8"
      %tr
        %td= email("leo", "s4.io", "Leo Neumeyer")
        %td= "<a href='http://github.com/leoneu'>leoneu</a>"
        %td= "Yahoo!"
        %td= "-8"
      %tr
        %td= email("br", "s4.io", "Bruce Robbins")
        %td= "<a href='http://github.com/brucerobbins'>brucerobbins</a>"
        %td= "Yahoo!"
        %td= "-8"
    /%p= "We ask that you please do not send us emails privately asking for support. We are non-paid volunteers who help out with the project and we do not necessarily have the time or energy to help people on an individual basis. Instead, we have setup a mailing list for the project which can contain a wider range of individuals who will help answer detailed requests for help. The benefit of using mailing lists over private communication is that it is a shared resource where others can also learn from common mistakes and as a community we all grow together."
