%a{:href=>"/", :class=>'first'}= "home"
%a{:href=>"http://wiki.s4.io"}= "docs"
%a{:href=>"http://github.com/s4"}= "code"
%a{:href=>"/contrib"}= "get involved"
%a{:href=>"http://blog.s4.io"}= "blog"
%a{:href=>"/team"}= "team"
