%ul{:id=>"nav"}
  %li
    %a{:href=>"/"}= "home"
  %li
    %a{:href=>"http://docs.s4.io"}= "docs"
  %li
    %a{:href=>"http://github.com/s4", :onClick=> google_analytics_event("External", "GitHub", "http://github.com/s4")}= "code"
  %li
    %a{:href=>"/contrib"}= "get involved"
  %li
    %a{:href=>"http://blog.s4.io"}= "blog"
  %li
    %a{:href=>"/team"}= "team"
